# Update your Azure OpenAI details
# AZURE_OPENAI_API_INSTANCE_NAME should be just the name of Azure open resource and not the full url; 
# AZURE_OPENAI_API_DEPLOYMENT_NAME should be the deployment name from your azure openaio studio and not the model name.
# AZURE_OPENAI_API_VERSION should be Supported versions checkout docs https://learn.microsoft.com/en-us/azure/ai-services/openai/reference
AZURE_OPENAI_API_KEY=3daddbb9375d405480bf83eaa4e947a1
AZURE_OPENAI_API_INSTANCE_NAME=MagAINonDEV
AZURE_OPENAI_API_DEPLOYMENT_NAME=gpt-35-turbo-16k
AZURE_OPENAI_API_VERSION=2023-03-15-preview

# You must have at least one of the following auth providers configured
AUTH_GITHUB_ID=
AUTH_GITHUB_SECRET=

AZURE_AD_CLIENT_ID=
AZURE_AD_CLIENT_SECRET=
AZURE_AD_TENANT_ID=2ec5df8c-b8bb-4eeb-ab70-a15ed2759b61

# Update your production URL in NEXTAUTH_URL
NEXTAUTH_SECRET=AZURE-OPENIAI-CHATGPT-NEXTAUTH-OWNKEY@1
NEXTAUTH_URL=http://localhost:3000

# Update your Cosmos Environment details here
AZURE_COSMOSEDB_URI=https://<cosmoresourcename>.documents.azure.com:443/
AZURE_COSMOSEDB_KEY=
